%body
  .flash-box
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name け
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              = link_to "/groups/new" do
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              = link_to "/users/1407/edit" do
                %i.fa.fa-cog
      .groups
        = link_to "/groups/2991/messages"do
          .group
            %p.group__group-name テックエキスパート
            %p.group__latest-message こんにちは！
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group{"data-group_id" => "2991"}
            テックエキスパート
          %ul.main-header__left-box__member-list
            Member：
            %li.main-header__left-box__member-list__member け
        = link_to "/groups/2991/edit" do
          .main-header__edit-btn Edit
      .messages
        .message{"data-message_id" => "7742"}
          .message__upper-info
            %p.message__upper-info__talker け
            %p.message__upper-info__date 2019/10/21(Mon) 13:13:21
          %p.message__text こんにちは！
      .form
        %form#new_message.new_message{"accept-charset" => "UTF-8", action: "/groups/2991/messages", enctype: "multipart/form-data", method: "post"}
          %input{name: "utf8", type: "hidden", value: "✓"}/
          %input{name: "authenticity_token", type:"hidden", value:"8jT1PwsK5V73xtEfL9wLfYD1DFdEBZdlg4/euyjPixiInwtt9ixATRulcPqIftaIM3QR7lGN23vPgXDkfBsd9g=="}/
          .input-box
            %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
            %label.input-box__image{for: "message_image"}
              %i.fa.fa-image
              %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
          %input.submit-btn{"data-disable-with" => "Send", name: "commit", type:"submit", value: "Send"}/
